@import "../../../base.scss";

.menuItem {
  padding: 2rem;
  justify-content: center;
  border: 1px solid $border-color-primary;
  max-height: 320px;
  border-radius: 1rem;

  .imageContainer {
    border-radius: 1rem;
    overflow: hidden;
    max-height: 280px;
  }
  img {
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    &:hover {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  .itemInfo {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-weight: 600;
    }
  }
}
