@import "../../base";

.analytics {
  background-color: $color-white;
  border-radius: 0.5rem;
  padding: 1.5rem;
  background-color: $bg-color-tertiary;




  .orders {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;

    section {
      padding: 0.75rem;

      h2 {
        padding: 1rem;
      }
    }

    .latest__orders {
      flex: 2;
      margin-right: 2rem;
      border-radius: 1rem;
      background-color: white;
  
    }
    .soldItems {
      flex: 1;
      background-color: white;
      border-radius: 1rem;
    }
  }
}
