@import "../../base.scss";

.soldItem{
    display: flex;
    flex-direction: row;
    margin: 0 0 1rem 0;
    img{
      flex: 1;
      height: 64px;
      width: 64px;

      border-radius: 1rem;
    }
    .details{
      padding-left: 1.5rem;
      padding-right: 0.5rem;
      flex: 5;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }