$bg-color-primary :  #5541D7;
$bg-color-secondary : #E2E2EA;
$bg-color-tertiary : #F7F7FC;

$color-white : #FFFFFF; 
$color-black : #000000;

$text-color-primary : #11142D ;
$text-color-secondary : #11142D ;
$text-color-tertiary : #92929D ;

$border-color-primary : #DBD7F4;
$border-color-secondary : #5541D7;

$font-size-v-s : 0.800rem;
$font-size-s : 1rem ;
$font-size-s-m : 1.188rem;
$font-size-m : 1.5rem;
$font-size-m-l : 2rem;
$font-size-l : 2.25rem;
$font-size-v-l : 3rem;
$font-size-x-l : 4.5rem;

$very-small: 400px;
$small: 520px;
$medium: 780px;
$large: 980px;
$very-large: 1440px;

.smth {
  //some CSS
  @media screen and (max-width: $small) {
    //do Smth
  }
  @media screen and (min-width: $medium) {
    //do Smth
  }
}
