@font-face {
  font-family: 'Mulish';
  src: url('./fonts/Mulish-Regular.ttf');
}



$bg-color-primary :  #5541D7;
$bg-color-secondary : #E2E2EA;
$bg-color-tertiary : #F7F7FC;

$color-white : #FFFFFF; 
$color-black : #000000;

$text-color-primary : #11142D ;
$text-color-secondary : #11142D ;
$text-color-tertiary : #92929D ;

$font-size-v-s : 0.875rem;
$font-size-s : 1rem ;
$font-size-s-m : 1.188rem;
$font-size-m : 1.5rem;
$font-size-m-l : 2rem;
$font-size-l : 2.25rem;
$font-size-v-l : 3rem;
$font-size-x-l : 4.5rem;


body{
  margin: 0;
  padding: 0;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Mulish';
}
#root{
  width: 100vw;
  height: 100vh;
}
a{
  text-decoration: none;
}